@import '~antd/dist/antd.css';

.container{
  display:flex;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
  margin-top: 250px;
}

.login-form {
  max-width: 700px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.site-layout-content {
  min-height: max-content;
  padding: 24px;
  background: #fff;
}
 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl  .logo {
  float: right;
  margin: 16px 0 16px 24px;
}